@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-title {
  color: #999;
}

.top-navbar{

  border-bottom: 1px solid green;
  box-shadow: 0px 2px 5px black;
}

.carousel-text {
    font-family: 'Dancing Script', cursive;
    color: rebeccapurple !important;

}

.carousel-caption h3{
  font-size: 4.4rem;
}
